/* Hasil.css */
.card-header {
  background-color: #f8f9fa;
  /* Warna latar belakang header */
  border-bottom: 1px solid #dee2e6;
}

.card-body {
  padding: 1.5rem;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.list-group-item {
  border: none;
  /* Menghapus border default dari ListGroup.Item */
}

.list-group-item:last-child {
  border-bottom: none;
}

.mb-1 {
  margin-bottom: .25rem;
}

.hover-opacity:hover {
  transition: 0.4s;
  animation: ease-in-out;
  color: rgb(24, 144, 255);
}