.keranjang-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.keranjang-item:hover {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-harga {
  font-weight: bold;
  color: #333;
}

.keranjang-list {
  max-height: 60vh; /* Tentukan tinggi maksimum sesuai kebutuhan */
  overflow-y: auto;  /* Tambahkan scroll secara vertikal jika item melebihi batas tinggi */
}


.keranjang-list::-webkit-scrollbar {
  width: 8px;
}

.keranjang-list::-webkit-scrollbar-track {
  background: #ffffff; /* Warna track scrollbar */
  border-radius: 4px;
}

.keranjang-list::-webkit-scrollbar-thumb {
  background-color: #d5d5d5; /* Warna thumb scrollbar */
  border-radius: 4px;
}

.keranjang-list::-webkit-scrollbar-thumb:hover {
  background-color: #acacac; /* Warna thumb scrollbar saat di-hover */
}