.navbar-custom {
    background-color: #0066cb;
    /* Dark background for the navbar */
}

.navbar-user-name {
    font-size: 1rem;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}

.navbar-custom .navbar-brand strong {
    color: #00bfff;
    /* Light blue color for emphasis */
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #00bfff;
}

.navbar-custom .btn-outline-light {
    border-color: #00bfff;
    /* Light blue border */
    color: #ffffff;
    /* White text */
}

.navbar-custom .btn-outline-light:hover {
    background-color: #000000;
    /* Light blue background on hover */
    color: #ffffff;
    /* White text on hover */

    border-color: #d3f4ff;
}