body{
    font-family: "Public Sans", sans-serif;
    margin: 0;
}

.navbar{
    background-color: #00a0f6;
}

.listCategories{
    list-style-type: none;
    border: none;
    cursor: pointer;
}

.listCategories.selected{
    background-color: #00a0f6;
    color: white;
}

.success-container {
    background-color: #f8f9fa; /* Warna latar belakang, bisa diubah sesuai kebutuhan */
    padding: 20px;
  }
  
  .success-heading {
    color: #007bff; /* Warna biru untuk heading, bisa disesuaikan */
    margin-bottom: 20px;
  }
  
  .success-message {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff; /* Warna biru untuk tombol */
    border: none;
  }
  